name: Publish on NPM

on:
  push:
    branches: [master]

jobs:
  publish:
    name: Build & Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: yarn install
      - name: Lint
        run: yarn lint:ci
      - name: Unit tests
        run: yarn test:ci
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: yarn build
      - name: Publish
        run: yarn npm-publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
